<%= render :partial => 'gesmew/admin/shared/error_messages', :locals => { :target => @level } %>

<%= form_tag do %>
  <h1><%= Gesmew.t(:inventory_adjustment) %></h1>

  <table class="basic-table">
    <thead data-hook="inventory_header">
      <tr>
        <th><%= Gesmew.t(:sku) %></th>
        <th><%= Gesmew.t(:product) %></th>
        <th><%= Gesmew.t(:options) %></th>
        <th><%= Gesmew.t(:adjustment) %></th>
      </tr>
    </thead>
    <tbody>
      <tr data-hook="inventory_row">
        <td><%= @variant.sku %></td>
        <td><%= @variant.product.name %></td>
        <td><%= variant_options @variant %></td>
        <td>
          <%= text_field :level, :adjustment, :class => 'quantity form-control' %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag Gesmew.t('actions.update') %>
  <%= Gesmew.t(:or) %>
  <%= link_to Gesmew.t('actions.cancel'), :controller => 'overview', :action => :index %>
<% end %>
