<div class="">
  <h1><%= establishment.name %></h1>
  <address>
    <strong><%= establishment.owner_fullname %></strong><br>
    <%= establishment.address %><br>
    <%= establishment.country %><br>
    <abbr title="Phone">P:</abbr> <%= establishment.phone_number %><br>
    <a href="mailto:#"><%= establishment.contact_information.email %></a><br>
    <small>to change establishment click
      <%= link_to 'here', "#", class: 'remove-establishment', data: { 'establishment-id' => establishment.id, action: 'remove'}, title: Gesmew.t('remove'), no_text: true %>
    </small>
  </address>
</div>
