<div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
      <%= render 'gesmew/admin/shared/error_messages', target: @line_item %>
  <% end %>

  <%= render "gesmew/admin/inspections/line_items", inspection: inspection %>
  <%= render "gesmew/admin/inspections/adjustments",
          adjustments: @inspection.line_item_adjustments,
          inspection: inspection,
          title: Gesmew.t(:line_item_adjustments)
  %>
  <%= render "gesmew/admin/inspections/adjustments",
          adjustments: @inspection.shipment_adjustments,
          inspection: inspection,
          title: Gesmew.t(:shipment_adjustments)
  %>
  <%= render "gesmew/admin/inspections/adjustments",
          adjustments: @inspection.adjustments,
          inspection: inspection,
          title: Gesmew.t(:order_adjustments)
  %>

  <% if inspection.line_items.exists? %>
    <div class="alert alert-success" id="inspection-total" data-hook="order_details_total">
      <%= Gesmew.t(:order_total) %>: <strong class="inspection-total"><%= inspection.display_total %></strong>
    </div>
  <% end %>

  <%= javascript_tag do %>
    var order_number = '<%= @inspection.number %>';
    var shipments = [];

    <% @inspection.shipments.each do |shipment| %>
      shipments.push(<%== shipment.as_json(root: false, only: [:id, :tracking, :number, :state, :stock_location_id], include: [:inventory_units, :stock_location]).to_json %>);
    <% end %>

    <%= render partial: 'gesmew/admin/shared/update_order_state', handlers: [:js] %>
  <% end %>
</div>
