<%= render 'inspection_actions', inspection: @inspection, events: @inspection_events %>

<%= render 'gesmew/admin/shared/inspection_tabs', current: :shipments %>

<% content_for :page_title do %>
  / <%= plural_resource_name(Gesmew::Shipment) %>
<% end %>

<div data-hook="admin_inspection_edit_header">
  <%= render 'gesmew/admin/shared/error_messages', target: @inspection %>
</div>

<% if @inspection.payments.valid.any? && @inspection.considered_risky? %>
  <%= render 'gesmew/admin/inspections/risk_analysis', latest_payment: @inspection.payments.valid.last %>
<% end %>

<%= render 'add_product' if @inspection.shipment_state != 'shipped' && can?(:update, @inspection) %>

<% if @inspection.line_items.empty? %>
  <div class="alert alert-warning">
    <%= Gesmew.t(:your_inspection_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_inspection_edit_form">
  <div id="inspection-form-wrapper">
    <%= render partial: 'form', locals: { inspection: @inspection } %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>

<%= render 'gesmew/admin/shared/inspection_summary' %>
