<% content_for :page_title do %>
  <%= plural_resource_name(Gesmew::Inspection) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Gesmew.t(:new_inspection), new_admin_inspection_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_inspection' %>
<% end if can? :create, Gesmew::Inspection %>

<% content_for :table_filter do %>
  <div data-hook="admin_inspections_index_search">

    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="date-range-filter col-md-8">
          <div class="form-group">
            <%= label_tag :q_created_at_gt, Gesmew.t(:date_range) %>
            <div class="row no-padding-bottom">
              <div class="col-md-6">
                <div class="input-group">
                  <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from form-control', :value => params[:q][:created_at_gt], :placeholder => Gesmew.t(:start) %>
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>

              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to form-control', :value => params[:q][:created_at_lt], :placeholder => Gesmew.t(:stop) %>
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :q_number_cont, Gesmew.t(:inspection_number, :number => '') %>
            <%= f.text_field :number_cont, class: 'form-control js-quick-search-target' %>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :q_establishment_establishment_type_id_in, Gesmew.t(:establishment_type) %>
            <%= f.select  :establishment_establishment_type_id_in, Gesmew::EstablishmentType.all.pluck(:name, :id),{:include_blank => true}, :class => 'select2 js-filterable' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :q_establishment_id_in, Gesmew.t(:establishment) %>
            <%= f.select  :establishment_id_in, Gesmew::Establishment.all.pluck(:name, :id),{:include_blank => true}, :class => 'select2 js-filterable' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :q_inspectors_id_in, Gesmew.t(:inspectors) %>
            <%= f.select  :inspectors_id_in, Gesmew.user_class.all.pluck(:fullname, :id),{:include_blank => true}, :multiple => true, :class => 'select2' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :q_state_eq, Gesmew.t(:status) %>
            <%= f.select :state_eq, Gesmew::Inspection.state_machines[:state].states.map {|s| [Gesmew.t("inspection_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2 js-filterable' %>
          </div>
        </div>

        <div class="col-md-4">

          <div class="form-group">

            <div class="checkbox">
              <%= label_tag 'q_completed_at_not_null' do %>
                <%= f.check_box :completed_at_not_null, {:checked => @show_only_completed}, '1', '0' %>
                <%= Gesmew.t(:show_only_complete_inspections) %>
              <% end %>
            </div>

            <div class="checkbox">
              <%= label_tag 'q_considered_risky_eq' do %>
                <%= f.check_box :considered_risky_eq, {:checked => (params[:q][:considered_risky_eq] == '1')}, '1', '' %>
                <%= Gesmew.t(:show_only_considered_risky) %>
              <% end %>
            </div>

          </div>

        </div>

      </div>

      <div data-hook="admin_inspections_index_search_buttons" class="form-actions">
        <%= button Gesmew.t(:filter_results), 'search' %>
      </div>

    <% end %>

  </div>

<% end %>

<%= render 'gesmew/admin/shared/index_table_options', collection: @inspections %>

<% if @inspections.any? %>
  <table class="table" id="listing_inspections" data-hook>
    <thead>
      <tr data-hook="admin_inspections_index_headers">
        <% if @show_only_completed %>
          <th class="col-md-1"><%= sort_link @search, :completed_at,                         I18n.t(:completed_at, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <% else %>
          <th class="col-md-1"><%= sort_link @search, :created_at,                           I18n.t(:created_at, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <% end %>
        <th class="col-md-1"><%= sort_link @search, :number,                                 I18n.t(:number, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :considered_risky,                       I18n.t(:considered_risky, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :state,                                  I18n.t(:state, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :establishment_establishment_type_name,  I18n.t(:establishment_type, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :establishment_name,                     I18n.t(:establishment, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :inspectors_fullname,                    I18n.t(:inspectors, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
        <th class="col-md-1"><%= sort_link @search, :total,                                  I18n.t(:total_score, :scope => 'activerecord.attributes.gesmew/inspection') %></th>
      </tr>
    </thead>
    <tbody>
    <% @inspections.each do |inspection| %>
      <tr data-hook="admin_inspections_index_rows" class="state-<%= inspection.state.downcase %> <%= cycle('odd', 'even') %>">
        <td><%= l (@show_only_completed ? inspection.completed_at : inspection.created_at).try!(:to_date) %></td>
        <td><%= link_to inspection.number, edit_admin_inspection_path(inspection) %></td>
        <td>
          <span class="label label-<%= risky_label(inspection.considered_risky) %>">
            <%= risky_text(inspection.considered_risky)  %>
          </span>
        </td>
        <td>
          <span class="label label-<%= inspection.state.downcase %>"><%= Gesmew.t("inspection_state.#{inspection.state.downcase}") %></span>
          <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_state_eq" data-ransack-value="<%= inspection.state %>"></span>
        </td>
        <td>
          <span class="label-<%= labelize(inspection.establishment.establishment_type.name) %>"><%= inspection.establishment.establishment_type.name%></span>
          <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_establishment_establishment_type_id_in" data-ransack-value="<%= inspection.establishment.establishment_type.id %>"></span>
        </td>
        <td>
          <span class="label-<%= labelize(inspection.establishment.name) %>"><%= inspection.establishment.name %></span>
          <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_establishment_id_in" data-ransack-value="<%= inspection.establishment.id %>"></span>
        </td>
        <td>
          <ul>
            <% inspection.inspectors.all.each do |inspector| %>
                <li>
                  <%= link_to("#{inspector.fullname}", edit_admin_user_path(inspector)) %>
                </li>
            <% end %>
         </ul>
        </td>
        <td><%=inspection.score_total%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Gesmew.t(:no_resource_found, resource: plural_resource_name(Gesmew::Inspection)) %>,
    <%= link_to(Gesmew.t(:add_one), new_admin_inspection_url) if can? :create, Gesmew::Inspection %>!
  </div>
<% end %>

<%= render 'gesmew/admin/shared/index_table_options', collection: @inspections, simple: true %>
