<%= render 'inspection_actions', inspection: @inspection, events: @inspection_events %>

<%= render 'gesmew/admin/shared/inspection_tabs', current: :proccess %>

<!-- <div data-hook="admin_inspection_edit_header">
  <%= render 'gesmew/admin/shared/error_messages', target: @inspection %>
</div> -->

<%= render "#{@inspection.stringy_establishment}", inspection: @inspection %>

<%= render 'add_inspector' if can?(:update, @inspection) %>
<% unless @inspection.inspectors.any? %>
  <div class="alert alert-danger">
    <%= Gesmew.t(:inspector_is_empty_add_inspector)%>
  </div>
<% end %>

<div data-hook="admin_inspection_edit_form">
  <div id="inspection-form-wrapper">
    <%= render 'inspectors_edit_form', inspection: @inspection %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>

<%= render 'gesmew/admin/shared/inspection_summary' %>
