<%= render 'inspection_actions', inspection: @inspection, events: @inspection_events %>

<%= render 'gesmew/admin/shared/inspection_tabs', current: :proccess %>

<div data-hook="admin_inspection_edit_header">
  <%= render 'gesmew/admin/shared/error_messages', target: @inspection %>
</div>

<!-- <% if @inspection.considered_risky? %>
  <%= render 'gesmew/admin/inspections/risk_analysis', latest_payment: @inspection.payments.inspection("created_at DESC").first %>
<% end %> -->

<%= render 'select_establishment' if can?(:update, @inspection) %>

<%= render 'add_inspector' if can?(:update, @inspection) %>
<% unless @inspection.inspectors.any? %>
  <div class="alert alert-warning">
    <%= Gesmew.t(:inspector_is_empty_add_inspector)%>
  </div>
<% end %>

<div data-hook="admin_inspection_edit_form">
  <div id="inspection-form-wrapper">
    <%= render 'inspectors_edit_form', inspection: @inspection %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>

<%= render 'gesmew/admin/shared/inspection_summary' %>
