<%= render partial: 'gesmew/admin/shared/order_tabs', locals: { current: :customer_returns } %>

<% content_for :page_title do %>
  / <%= Gesmew.t(:new_customer_return) %>
<% end %>

<% if @rma_return_items.any? %>

  <%= render partial: 'gesmew/admin/shared/error_messages', locals: { target: @customer_return } %>

  <%= form_for [:admin, @order, @customer_return] do |f| %>
    <fieldset class="no-border-top">
      <div data-hook="admin_customer_return_form_fields">
        <fieldset>
          <legend><%= Gesmew.t(:items_in_rmas) %></legend>
          <% if @rma_return_items.any? %>
            <%= render partial: 'return_item_selection', locals: {f: f, return_items: @rma_return_items} %>
          <% else %>
            <div class="alert alert-info no-objects-found">
              <%= Gesmew.t(:none) %>
            </div>
          <% end %>
        </fieldset>

        <%= f.field_container :stock_location, class: ['form-group'] do %>
          <%= f.label :stock_location, Gesmew.t(:stock_location) %>
          <%= f.select :stock_location_id, Gesmew::StockLocation.order_default.active.to_a.collect{|l|[l.name.humanize, l.id]}, {include_blank: true}, {class: 'select2', "data-placeholder" => Gesmew.t(:select_a_stock_location)} %>
          <%= f.error_message_on :stock_location_id %>
        <% end %>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Gesmew.t(:create), 'save' %>
        <span class="or"><%= Gesmew.t(:or) %></span>
        <%= button_link_to Gesmew.t('actions.cancel'), gesmew.admin_order_customer_returns_url(@order), icon: 'delete' %>
      </div>
    </fieldset>
  <% end %>

<% else %>

  <div class="alert alert-info no-objects-found">
    <%= Gesmew.t(:all_items_have_been_returned) %>,
    <%= link_to Gesmew.t(:back_to_resource_list, resource: Gesmew::CustomerReturn.model_name.human), gesmew.admin_order_customer_returns_path(@order) %>.
  </div>

<% end %>
