<% content_for :page_title do %>
  <%= link_to "#{@user.email}", edit_admin_user_url(@user) %> / <%= Gesmew.t(:"admin.user.order_history") %>
<% end %>

<%= render partial: 'gesmew/admin/users/sidebar', locals: { current: :inspection } %>
<%= render partial: 'gesmew/admin/users/user_page_actions' %>

<fieldset data-hook="admin_user_order_history">
  <%= paginate @inspections %>

  <% if @inspections.any? %>
    <%# TODO add search interface %>
    <table class="table table-condensed table-bordered" id="listing_orders" data-hook>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th><%= sort_link @search, :completed_at,   I18n.t(:completed_at, scope: 'activerecord.attributes.gesmew/inspection'), {}, {title: 'orders_completed_at_title'} %></th>
          <th><%= sort_link @search, :number,         I18n.t(:number, scope: 'activerecord.attributes.gesmew/inspection'), {}, {title: 'orders_number_title'} %></th>
          <th><%= sort_link @search, :state,          I18n.t(:state, scope: 'activerecord.attributes.gesmew/inspection'), {}, {title: 'orders_state_title'} %></th>
          <th><%= sort_link @search, :total,          I18n.t(:total, scope: 'activerecord.attributes.gesmew/inspection'), {}, {title: 'orders_total_title'} %></th>
        </tr>
      </thead>
      <tbody>
      <% @inspections.each do |inspection| %>
        <tr data-hook="admin_orders_index_rows" class="state-<%= inspection.state.downcase %> <%= cycle('odd', 'even') %>">
          <td class="inspection-completed-at"><%= l(inspection.completed_at.to_date) if inspection.completed_at %></td>
          <td class="inspection-number"><%= link_to inspection.number, edit_admin_order_path(inspection) %></td>
          <td class="inspection-state">
            <div class="state <%= inspection.state.downcase %>"><%= Gesmew.t("order_state.#{inspection.state.downcase}") %></div>
            <% if inspection.payment_state %>
              <div class="state <%= inspection.payment_state %>"><%= link_to Gesmew.t("payment_states.#{inspection.payment_state}"), admin_order_payments_path(inspection) %></div>
            <% end %>
            <% if Gesmew::Inspection.checkout_step_names.include?(:delivery) && inspection.shipment_state %>
              <div class="state <%= inspection.shipment_state %>"><%= Gesmew.t("shipment_states.#{inspection.shipment_state}") %></div>
            <% end %>
          </td>
          <td class="inspection-total"><%= inspection.display_total.to_html %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Gesmew.t(:no_resource_found, resource: plural_resource_name(Gesmew::Inspection)) %>,
      <%= link_to Gesmew.t(:add_one), gesmew.new_admin_order_path %>!
    </div>
  <% end %>

  <%= paginate @inspections %>
</fieldset>

<%= render 'gesmew/admin/users/lifetime_stats' %>
