<% content_for :page_title do %>
  <%= plural_resource_name(Gesmew::TaxRate) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Gesmew.t(:new_tax_rate), new_object_url, class: "btn-success", icon: 'add' %>
<% end if can? :create, Gesmew::TaxRate %>

<% if @tax_rates.any? %>
  <table class="table">
    <thead>
      <tr data-hook="rate_header">
        <th><%= Gesmew.t(:zone) %></th>
        <th><%= Gesmew.t(:name) %></th>
        <th><%= Gesmew.t(:category) %></th>
        <th><%= Gesmew.t(:amount) %></th>
        <th><%= Gesmew.t(:included_in_price) %></th>
        <th><%= Gesmew.t(:show_rate_in_label) %></th>
        <th><%= Gesmew.t(:calculator) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tax_rates.each do |tax_rate|%>
      <tr id="<%= gesmew_dom_id tax_rate %>" data-hook="rate_row">
        <td><%=tax_rate.zone.try(:name) || Gesmew.t(:not_available) %></td>
        <td><%=tax_rate.name %></td>
        <td><%=tax_rate.tax_category.try(:name) || Gesmew.t(:not_available) %></td>
        <td><%=tax_rate.amount %></td>
        <td><%=tax_rate.included_in_price? ? Gesmew.t(:say_yes) : Gesmew.t(:say_no) %></td>
        <td><%=tax_rate.show_rate_in_label? ? Gesmew.t(:say_yes) : Gesmew.t(:say_no) %></td>
        <td><%=tax_rate.calculator.to_s %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(tax_rate, no_text: true) if can? :edit, tax_rate %>
          <%= link_to_delete(tax_rate, no_text: true) if can? :delete, tax_rate %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Gesmew.t(:no_resource_found, resource: plural_resource_name(Gesmew::TaxRate)) %>,
    <%= link_to(Gesmew.t(:add_one), new_object_url) if can? :create, Gesmew::TaxRate %>!
  </div>
<% end %>
