<div data-hook="address_fields">
  <div class="form-group">
    <%= f.label :firstname, Gesmew.t(:firstname) %>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lastname, Gesmew.t(:lastname) %>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, Gesmew.t(:email) %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address, Gesmew.t(:street_address) %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, Gesmew.t(:phone) %>
    <%= f.phone_field :phone_number, class: 'form-control' %>
  </div>
</div>
