<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= Gesmew.t(:summary) %></h3>
  </div>

  <table class="table table-condensed table-binspectioned" id="inspection_tab_summary" data-hook>
    <tbody class="additional-info">
      <tr>
        <td id="inspection_status" width="35%" data-hook>
          <strong><%= Gesmew.t(:status) %>:</strong>
        </td>
        <td>
          <span class="state label label-<%= @inspection.state %>">
            <%= Gesmew.t(@inspection.state, :scope => :inspection_state) %>
          </span>
        </td>
      </tr>
      <tr>
        <td data-hook='admin_inspection_tab_scorel_title'>
          <strong><%= Gesmew.t(:score) %>:</strong>
        </td>
        <td id='item_total'>
          <%= @inspection.score_total %>
        </td>
      </tr>

      <% if @inspection.completed? %>
        <tr>
          <td>
            <strong><%= Gesmew.t(:payment) %>:</strong>
          </td>
          <td id='payment_status'>
            <span class="state label label-<%= @inspection.payment_state %>">
              <%= Gesmew.t(@inspection.payment_state, :scope => :payment_states, :default => [:missing, "none"]) %>
            </span>
          </td>
        </tr>
        <tr>
          <td data-hook='admin_inspection_tab_date_completed_title'>
            <strong><%= Gesmew.t(:date_completed) %>:</strong>
          </td>
          <td id='date_complete'>
            <%= pretty_time(@inspection.completed_at) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
