<% content_for :page_title do %>
  <%= link_to Gesmew.t(:inspections), admin_inspections_path %> /
  <%= link_to @inspection.number, gesmew.edit_admin_inspection_path(@inspection) %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_inspection_tabs">
    <% if can?(:update, @inspection) && @inspection.inspection_steps.include?("processing") %>
      <li<%== ' class="active"' if current == :proccess %> data-hook='admin_inspection_tabs_proccess'>
        <%= link_to_with_icon 'oil', Gesmew.t(:proccess), gesmew.proccess_admin_inspection_url(@inspection) %>
      </li>
    <% end %>

    <% if can? :update, @inspection && @inspection.inspection_steps.include?("grading") %>
      <li<%== ' class="active"' if current == :grading %> data-hook='admin_inspection_tabs_grading'>
        <%= link_to_with_icon 'education', Gesmew.t(:grading), edit_admin_inspection_url(@inspection) %>
      </li>
    <% end %>
  </ul>
<% end %>
